html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/** Our General Style for the Website*/
.mainText{
    padding: 75px 20px;
}

/* CSS for the hover effect */
.hover-scale :hover {
    transform: scale(1.05);
    transition: transform 0.3s; /* Add a smooth transition for the scaling effect */
}
