@page
@model Shows4All.Pages.Checkout.SerieInfoModel
@{
    ViewData["Title"] = "Serie Details";
}

<!--  Comentário, Não tenho estas teclas no computador:
<
>
<div></div>
<br>
-->


<a class="nav-link text-dark" asp-area="" asp-page="/Checkout/Confirmation">If Not Bought, Click Here for Confirmation Page</a>