@page
@model Shows4All.Pages.Checkout.SerieInfoModel
@{
    ViewData["Title"] = "Serie Details";
}

<!--  Comentário, Não tenho estas teclas no computador:
<
>
<div></div>
<br>
-->

<div class="container">
    <h1>@Model.SerieName</h1>
    <p>@Model.Description</p>
    <p>Price: $@Model.Price</p>
    <img src="~/images/@Model.imageURL.jpg" alt="@Model.SerieName" />

    <!-- Add any other series details you want to display -->
</div>


<a class="nav-link text-dark" asp-area="" asp-page="/Checkout/Confirmation">If Not Bought, Click Here for Confirmation Page</a>