@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--  Comentário:
<
>
<div>
</div>
-->

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4">Bem-Vindo ao Shows4All</h1>
        <h2> PorFavor, insere os teus detalhes para entrares na tua conta.</h2>
    </div>
    <br/>
</div>